<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ titulo }} - Panel de control</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/admin/img/favi.png">

    <!-- Bootstrap core CSS     -->
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/admin/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/admin/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/admin/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
{% block modal %}

{% endblock modal %}
<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="/static/admin/img/sidebar-4.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://www.dumga.com" class="simple-text">
                    <img src="/static/admin/img/logo.png" width="120px;">
                </a>
            </div>

            {% include 'menu.html' %}
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ titulo }}</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <img src="/static/admin/img/default-avatar.png" width="20px;">
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                abejarano
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Cambiar clave</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="/admin/salir">
                                Salir
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                {% block content %}

                {% endblock content %}
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2017 <a href="http://www.pinttosoft.com">Pinttosoft C,A</a>
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/static/admin/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/static/admin/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/admin/js/blog.js"></script>
<script>
    $(function(){
        {% if message %}

            mostrarMensaje("{{ message }}");
        {% endif %}
    })
</script>
{% block js %}

{% endblock js %}
</html>
