<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Inicio de sesion - Panel Blog dumga.com</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/admin/img/favi.png">

    <!-- Bootstrap core CSS     -->
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/admin/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/admin/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/admin/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<form class="col-md-4 col-xs-12 center-block" id="form-login" method="post" action="/admin/">
    <div style="text-align: center">
        <img src="/static/admin/img/logo.gif"><br>
    </div>
    <div class="row">
        <p class="input-field col-xs-12">
            <label for="email">Usuario</label>
            <input name="usuario" type="text" class="validate form-control" autofocus="on">
        </p>
    </div>
    <div class="row">
        <p class="input-field col-xs-12">
            <label for="pass">Contraseña</label>
            <input name="pass" type="password" class="validate form-control">

        </p>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                <button class="btn btn-primary" name="action">Ingresar</button>
            </div>
            <div class="pull-right">
                <a href="#" id="modal_recuperar_claves">Olvió su clave?</a>
            </div>


        </div>
    </div>
    <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
</form>

<!-- modal -->
<div id="form_recuperar_clave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recuperar clave de acceso</h4>
            </div>
            <div class="modal-body">

                <h3 style="text-align: center">Ingrese por favor el correo electrónico que tiene registrado en la plataforma</h3>
                <br><br>
                <input type="email" placeholder="correo electrónico" class="form-control">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Reserva('Si')">Aceptar</button>

            </div>
        </div>
    </div>
</div>

<script src="/static/admin/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/static/admin/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/admin/js/blog.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#modal_recuperar_claves').click(function(){
                NProgress.start();
                $('#form_recuperar_clave').modal('show');
                NProgress.done();
            });

            if (typeof NProgress != 'undefined') {
                $(document).ready(function () {
                    NProgress.start();
                });
                $(window).load(function () {
                    NProgress.done();
                });
            }
            {% if message %}
                    mostrarMensaje('{{ message }}');
            {% endif %}

        });
    </script>
