{% extends 'base.twig' %}

{% block content %}
    <section id="content">

        {% include 'biblioteca_archivos.html' %}

    </section>
{% endblock content %}

{% block js %}
    <script src="/static/admin/js/multimedia.js"></script>
{% endblock js %}