{% extends 'base.twig' %}

{% block content %}
    <section id="content">
        <section class="row" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                <button class="btn-primary btn btn-md" form = "form_usuario">Guardar usuario</button>
                <a href="/admin/usuario-listado/" class="btn-info btn btn-md">Listado de usuario</a>
            </div>
        </section>
        <form method="post" id="form_usuario">
            <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
            <div class="row">
                <p class="col-xs-12 col-lg-3">
                    <label>C.I</label>
                    <input type="text" name="ci" class="form-control" placeholder="Número de identificación" autofocus = "on">
                </p>
                <p class="col-xs-12 col-lg-9">
                    <label>Nombre y apellido</label>
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre y apellido del usuario">
                </p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-lg-4">
                    <label>Correo electrónico</label>
                    <input type="email" name="nombre" class="form-control" placeholder="Correo electrónico">
                </p>
                <p class="col-xs-12 col-lg-4">
                    <label>Usuario</label>
                    <input type="email" name="nombre" class="form-control" placeholder="Usuario para ingresar al sistema">
                </p>
                <p class="col-xs-12 col-lg-4">
                    <label>Contraseña</label>
                    <input type="password" minlength="6" name="clave" class="form-control" placeholder="Clave para ingresar al sistema">
                </p>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-1">
                    <table class="table">
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" value="" data-toggle="checkbox">
                                </label>
                            </td>
                            <td>
                                Activo
                            </td>
                        </tr>
                    </table>
                </div>
                <p class="col-xs-6 col-lg-11"></p>
            </div>
        </form>
    </section>
{% endblock content %}
