{% extends 'base.twig' %}

{% block content %}
<section id = "content">
    <section class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12">
            <a href="/admin/usuario/" class="btn-primary btn btn-md">Nuevo usuario</a>

        </div>
    </section>
    <section  class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Login</th>
                <th>Nombre y apellido</th>
                <th>Correo electrónico</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for usuario in object_list %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="/admin/usuario/editar/{{ usuario.user_id }}" class="btn btn-default btn-sm">
                            <i class='fa fa-refresh'></i>
                        </a>
                        <a href="/admin/usuario/eliminar/{{ usuario.user_id }}"class="btn btn-danger btn-sm">
                            <i class='fa fa-trash-o'></i>
                        </a>

                    </td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>

    </section>
    <section class="row">
        <div class="pull-left">
            <ul class="pagination">

                {% if previous_page > 0 %}
                    <li class="paginate_button btn-sm">
                        <a href="?page={{ previous_page }}" aria-controls="datatable" data-dt-idx="2" tabindex="0">
                            &laquo; Anterior
                        </a>
                    </li>
                {% else %}
                    <li class="paginate_button previous disabled btn-sm" id="datatable_previous">
                        <a aria-controls="datatable" data-dt-idx="0" tabindex="0">&laquo; Anterior</a>
                    </li>

                {% endif %}
                {% if next_page > 0 %}
                    <li id="datatable_next" class="paginate_button next btn-sm" >
                        <a href="?page={{ next_page }}">Siguiente &raquo;</a>
                    </li>
                {% else %}
                    <li class="paginate_button next disabled btn-sm" id="datatable_next">
                        <a aria-controls="datatable" class="paginate_button next disabled btn-sm" tabindex="0">
                            Siguiente &raquo;
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <div class="pull-right">
            <ul class="pagination">
                <li class="paginate_button next disabled btn-sm">
                    <a aria-controls="datatable" class="paginate_button disabled">
                        Total de registros: <strong>{{ rows }}</strong>
                    </a>
                </li>
                <li class="paginate_button next disabled btn-sm">
                    <a aria-controls="datatable" class="paginate_button disabled" tabindex="0">
                        Pagina {{ current_page }} de {{ count_page }}
                    </a>
                </li>
            </ul>
        </div>
    </section>

</section>


{% endblock content %}