@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }

}
@media (max-width: 992px){
    #form_editar_archivo > .modal-dialog{width: 94% !important;}
    .lg{height: 104px !important; width: 128px !important;}
}
.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}


/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #29d;

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.center-block {
    display: block;
    float: inherit;
    z-index: 6;
    margin-left: auto;
    margin-right: auto;
}
html, boby{background: #F7F7F8 !important; height: 100%; width: 100%; position: relative}
#form-login{border:1px solid rgba(0,0,0,0.22); padding: 10px 20px; border-radius: 6px; margin-top: 60px;}
.modal-header{background: #3472F7; color: white; text-align: center}
#form-login{background: white;}
.main-panel > .content {padding: 8px 0;}
#content{background: white; padding: 20px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.1); }
.pagination{margin-bottom: 0 !important;}
.logo img{position: relative;}
.sidebar .logo {padding: 0 !important; text-align: center}
fieldset{padding: 8px; border:1px solid #e5e5e5;border-radius: 4px; }
legend{padding-right: 12px; border: none; margin-bottom: 4px;font-family: "Roboto","Helvetica Neue",Arial,sans-serif !important;
    padding-left: 12px; width: auto; font-size: 12pt;border-radius: 4px;}
#filtros .form-control, #filtros label{font-size: 9pt; height: inherit;}
.form-control, label{ height: initial !important; font-size: 10pt;}
.btn-warning:hover, .btn-info:hover{color: white; }
.btn-primary, .btn-warning, .btn-info,.btn-default,.btn-danger {border-width: 1px}
.btn-danger:hover{background: red; color:white}
.table>tbody>tr:first-child td{border-top: 0}
#categorias{height: 250px; overflow: auto; position: relative}
.sidebar-wrapper .nav>li>a{padding-top: 6px;}
.form-control:focus{border-color: #6997D2}
.img-responsive{position: absolute;right:24px;top:6px;}
.image_thum{margin-bottom: 20px; height: 60px; position: relative;  background-size: cover !important; background-repeat: no-repeat !important;
    overflow: hidden; margin-left: 20px; width: 80px; cursor: pointer}
.lg{height: 126px;width: 142px;}
.image-overlay{background: white;border: 4px solid blue;opacity: 0.8;position: absolute; width: 100%; height: 100%; top: 0; left: 0; /*display: none;*/}
.img-check{margin:24px auto; position: relative; width: 64px; height: 64px;}
.thumb_modal>img{max-width: 100%;  max-height: 600px;position: relative;
    margin: 0 auto;}

#containter-images{max-height: 400px; overflow: auto}